@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

html,
body {
  margin: 0;
  padding: 0;
}

* {
  font-family: "Poppins", sans-serif;
}

.directions {
  text-decoration: underline;
  text-underline-position: right under;
  font-weight: bold;
}

.hours {
  font-weight: bolder;
  text-align: center;
}

a:link,
a:hover,
a:visited,
a:active {
  text-decoration: none;
  color: inherit;
}

.h1 {
  text-align: center;
}

.free {
  font-weight: bold;
  text-decoration: underline;
}

.navbar {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 0;
}

.navbar > li {
  width: 100%;
  text-align: center;
  justify-content: space-between;
  background-color: lightslategrey;
  padding: 2em;
  font-weight: bolder;
  font-size: larger;
  text-decoration: underline;
}

.logo {
  width: 20%;
  padding: 0;
}

.award {
  width: 18%;
  height: 55%;
  padding: 0.4em;
}

.awardimg {
  display: flex;
  justify-content: center;
}
.ourawards {
  text-align: center;
}

.footer {
  display: flex;
  justify-content: space-between;
  background-color: lightslategrey;
  margin-top: 2em;
  padding: 0 0.5em;
}
.contactform {
  border: solid 1px;
  padding: 1em;
  border-radius: 10px;
  width: 35%;
  display: flex;
  flex-direction: column;
  transition: box-shadow 0.3s ease-in-out;
}

#submit {
  text-align: center;
}

#message {
  height: 100px;
  padding-top: 1em;
  padding-bottom: 10em;
  box-sizing: border-box;
}

#introduction {
  background-color: lightslategrey;
}

.dogpic {
  width: 11em;
  height: 65%;
  transition: all 0.3s ease-in-out;
  aspect-ratio: 1/2;
  object-fit: cover;
}

.costtable,
.acttable,
th,
tr,
td {
  border-style: groove;
  justify-content: center;
  justify-content: space-between;
  padding: 0.5em;
  text-align: center;
  transition: box-shadow 0.3s ease-in-out;
}

.costtable:hover,
.acttable:hover,
.contactform:hover,
.dogpic:hover {
  box-shadow: 10px 5px 10px black;
}

.dogpic:hover {
  transform: scale(1.02);
}

.centeralign {
  display: flex;
  justify-content: center;
}

.doggrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
  padding: 0 7em;
}

.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  background: #00000090;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal section {
  background: #ffffff;
  width: 80%;
  height: 80%;
  padding: 1em;
  text-align: center;
}

.modal header {
  display: flex;
  justify-content: flex-end;
  font-size: 2em;
  margin: 0;
}

.modal header p {
  margin: 0;
}

.modal header p:hover,
.dogpic:hover {
  cursor: pointer;
}

.hidden {
  display: none !important;
}

@media (max-width: 768px) {
  .navbar {
    gap: 10px;
    flex-direction: column;
  }

  .navbar > li {
    padding: 0;
  }

  .logo {
    width: 100%;
  }
}
